body {
  margin: 0;
  background: linear-gradient(rgb(170, 190, 218), rgb(54, 57, 236));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}